apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-chess
  namespace: chess
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-chess
  template:
    metadata:
      labels:
        app: backend-chess
    spec:
      containers:
      - name: backend-chess
        image: cebridani/backend-chess:latest
        ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: backend-chess
  namespace: chess
spec:
  selector:
    app: backend-chess
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
  type: ClusterIP

