spring:
  datasource:
    url: jdbc:mysql://34.175.89.93:3306/chess?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update

app:
  jwt-secret: 322ae0b45c7ab2e9b1feedd267dca310e6b07043fe6fc230492fcdbe7fab69b3
  jwt-expiration: 86400000 # 1 dia en milisegundos

server:
  port: 5000
